
/* Global */
body {
    background-color: #0a0e1a;
    color: #bdbdbd;
    padding: 10px;
}

/* NavBar */
.nav-link {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

/* DataViewer */
.list-group {
    width: 405px
}

.list-group-item {
    background-color: #91ABBD;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.data-series-name-text {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-close.data-series-clear-btn {
    background-color: #91ABBD;
    opacity: .5;
}

#tips-data-table {
    --bs-table-hover-color: #6bcbff;
    --bs-table-hover-bg: #121729;
}

/* CurveBuilder */
.curve-data-form {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    
    border-color: #0d6efd;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}
