
/* Global */
body {
    background-color: #0a0e1a;
    color: #bdbdbd;
    padding: 10px;
}

/* NavBar */
.nav-link {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

/* DataViewer */
.list-group {
    width: 405px
}

.list-group-item {
    background-color: #91ABBD;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.data-series-name-text {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-close.data-series-clear-btn {
    background-color: #91ABBD;
    opacity: .5;
}

#latest-data-table {
    color: #bdbdbd;
    --bs-table-hover-color: #6bcbff;
    --bs-table-hover-bg: #121729;
}

/* TIPS Data */

#tips-data-table {
    --bs-table-hover-color: #6bcbff;
    --bs-table-hover-bg: #121729;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-header .btn-close {
    background-color: #91ABBD;
    opacity: .5;
}

.modal-footer {
    border-top: 0 none;
}

/* Market Data */

#tsys-benchmark-table, #tips-benchmark-table, #bond-futures-table, #micro-yield-futures-table, #ff-futures-table, #ser-futures-table, #sfr-futures-table, #ctd-otr-table, #tips-curve-etf-table, #tips-broad-etf-table, #tips-exotic-etf-table, #tsy-etfs-table {
    --bs-table-hover-color: #6bcbff;
    --bs-table-hover-bg: #121729;
}

/* CurveBuilder */
.curve-data-form {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    
    border-color: #0d6efd;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}
